*{
    padding: 0;
    margin: 0;
}

canvas{
    position: absolute;
    inset: 0;
}

main{
    z-index: 1;
    .checkboxes{
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: end;
        padding: 10px;
        span{
            color: white;
        }
    }
    .github{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        padding: 10px;
        opacity: .7;
        transition: 200ms all;
        -webkit-transition: 200ms all;
        -moz-transition: 200ms all;
        -ms-transition: 200ms all;
        -o-transition: 200ms all;
        &:hover{
            opacity: .5;
        }
        svg{
            fill: white;
        }
    }
}